@model ComicBookGallery.Models.ComicBook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}

<h1>@Model.SeriesTitle</h1>
<h2>Issue #@Model.IssueNumber</h2>

<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>

@if (Model.Artists.Length > 0)
{
    <h5>Artists:</h5>
    <div>
        <ul>
            @foreach (var artist in Model.Artists)
            {
                <li>@artist.Role: @artist.Name</li>
            }
        </ul>
    </div>
}
