@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.SeriesTitle</h1>
        <h2>Issue #@ViewBag.IssueNumber</h2>

        <h5>Description:</h5>
        <div>@Html.Raw(ViewBag.Description)</div>

        @if (ViewBag.Artists.Length > 0)
        {
            <h5>Artists:</h5>
            <div>
                <ul>
                    @foreach (var artist in ViewBag.Artists)
                    {
                        <li>@artist</li>
                    }
                </ul>
            </div>
        }
    </div>
</body>
</html>
